<h1>New group</h1>

<%= error_messages_for :group %>

<% form_for(@group) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Preference</b><br />
    <%= f.text_field :preference %>
  </p>

  <p>
    <b>Item urls</b><br />
    <%= text_area_tag :urls, '', :size => "100x10" %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', groups_path %>
