<%-# 部分テンプレート準備 -%>
<%- partial_html = render :partial => "lib/rms/default", :locals => { :item => item, :items => group.items } -%>
<%-# 部分テンプレートをiframeにする準備 -%>
<%- iframe_url = item.url.sub(%r{//item.rakuten.co.jp/([\w-]+)/([\w-]+)/}, "//www.rakuten.ne.jp/gold/\\1/related_items/\\1_\\2.html")
iframe_string = %Q|<!-- 関連商品 -->
<iframe frameborder="0" target="_top" marginheight="0" marginwidth="0" src="#{iframe_url}">
<a href="#{iframe_url}" target="_blank">関連商品はこちら</a>
</iframe>|
-%>
<%-# メインはここから -%>
<%= stylesheet_link_tag "related_items" %>
<div class="item_image"><%= link_to image_tag(item.thumbnail_80), 'javascript:void(0)', :onmouseover => "$('layout_#{ h item.id }').show()", :onmouseout => "$('layout_#{ h item.id }').hide()" %></div>
<ul class="item_description">
	<li><%= link_to h(item.name), item_url(item) %></li>
	<li>(<%=h number_with_delimiter(item.price)%> yen)</li>
	<li><%= item.url ? link_to(_("Confirm this item at Rakuten"), item.url.to_s, :target => '_blank') : "URL not defined" %></li>
	<li>
	以下のコードを楽天R-Storefrontの「商品ページ設定」の編集で「PC用商品説明文」に貼り付けてください。<br />
		<form class="for_copy_paste"><%= text_area_tag nil, h(iframe_string), :size => "80x6", :onclick => "this.select();" %></textarea></form>
	</li>
	<li style="display: none"><!-- temporary -->
		<form><%= text_area_tag nil, h(partial_html), :size => "100x20", :style => "width: 100%; font-size: 10pt;", :onclick => "this.select();" %></textarea></form>
	</li>
</ul>
<span id="layout_<%= h item.id %>" style="position: relative; display: none; height: 0">
<div style="width: 440px; border: 0; margin: 10px; padding: 0; position: relative; top: -300px; left: 100px; background-color: white;">
	<%= partial_html %>
</div>
</span>
